.MenuItem {
    max-width: 280px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0;
    &__text {
        & h3 {
            margin-top: 20px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        & button {
            border: 2px solid #ff6900;
            color: #ff6900;
            padding: 8px 15px;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            position: relative;
            text-transform: uppercase;
            transition: box-shadow 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 0 10px 2px #ff6900;
            }
        }
    }
    & p {
        font-weight: 300;
        color: rgb(139, 139, 139);
    }
}